[submodule "libs/zig-clap"]
	path = libs/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "libs/zig-string"]
	path = libs/zig-string
	url = https://github.com/JakubSzark/zig-string.git
