[submodule "libs/zig-clap"]
	path = libs/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "libs/zig-string"]
	path = libs/zig-string
	url = https://github.com/JakubSzark/zig-string.git
[submodule "libs/libgit2"]
	path = libs/libgit2
	url = https://github.com/libgit2/libgit2.git
